# Chrome extension
/chrome-extension/build
/chrome-extension/dist
/chrome-extension/node_modules
/chrome-extension/test-results
/chrome-extension/playwright-report

# Root
/node_modules

# Environment
.env
.env.local
*.env
.dev.vars

# OS
.DS_Store
*.pem

# Misc
.prettierrc
.cursor/
.codex/
